

.Body {
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  /* CSS for the filter button */
.filter-btn {
  background-color: #28a745; /* Green background color */
  color: white;             /* White text color */
  border: none;             /* Remove border */
  padding: 10px 20px;       /* Padding for size */
  text-align: center;       /* Center text */
  text-decoration: none;    /* Remove underline */
  display: inline-block;    /* Display inline-block */
  font-size: 16px;          /* Font size */
  margin: 10px 2px;         /* Margin for spacing */
  cursor: pointer;          /* Pointer cursor on hover */
  border-radius: 5px;       /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.filter-btn:hover {
  background-color: #218838; /* Darker green on hover */
}


.reset-btn {
  background-color: #e42f13; /* Green background color */
  color: white;             /* White text color */
  border: none;             /* Remove border */
  padding: 10px 20px;       /* Padding for size */
  text-align: center;       /* Center text */
  text-decoration: none;    /* Remove underline */
  display: inline-block;    /* Display inline-block */
  font-size: 16px;          /* Font size */
  margin: 10px 2px;         /* Margin for spacing */
  cursor: pointer;          /* Pointer cursor on hover */
  border-radius: 5px;       /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.reset-btn:hover {
  background-color: #218838; /* Darker green on hover */
}

  .search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search .Input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .search h2 {
    font-size: 20px;
    color: #333;
    cursor: pointer;
  }
  
  .restaurentContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    font-weight: bold;
  }